$primaryTextColor: #333333;
$secondaryTextColor: #666666 ;
$subTextColor: #898F8F;
$accentTextColor: #FC0;

$accentColor: #FFCC00;

$primaryBgColor: #FFF;

$iconFillColor: #CCCCCC;

$transitionFunc: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

$primaryFontFam: 'Raleway', sans-serif;

// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;