*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
}

input, button {
  outline: none;
  border: none;
  background-color: transparent;
}

* {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: #565656;
  background-color: #FFF;
  text-align: left;
  font-family: "Lato", sans-serif;
}

.page_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.main .container {
  padding: 400px 0;
}

.card {
  cursor: pointer;
  width: 340px;
  height: 480px;
  border-radius: 10px;
}
.card:hover > .card-front {
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .card-back {
  transform: perspective(600px) rotateY(0deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  border-radius: 20px;
  transform: perspective(600px);
  transition: all 1s ease;
  outline: 1px solid tomato;
}
.card-front img,
.card-back img {
  height: 100%;
}

.card-front {
  transform: perspective(600px) rotateY(0deg);
}

.card-back {
  transform: perspective(600px) rotateY(180deg);
  background-color: #FFF;
}

h1 {
  display: none;
}

.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #565656;
  padding: 40px;
}

.left-corner, .right-corner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.left-corner > p, .right-corner > p {
  padding-left: 5px;
  padding-right: 5px;
}

.left-corner {
  text-align: left;
}

.right-corner {
  transform: rotateX(180deg);
  text-align: right;
}

i {
  display: block;
  margin: 20px 0;
  color: #007FFC;
  font-size: 30px;
}

.card-title {
  font-size: 32px;
  font-weight: 700;
}

.center-text {
  font-size: 64px;
  font-weight: 900;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}