*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
}

input, button {
  outline: none;
  border: none;
  background-color: transparent;
}

* {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: #565656;
  background-color: #FFF;
  text-align: left;
  font-family: "Lato", sans-serif;
}

.page_wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

@keyframes card-rotate-front {
  0% {
    transform: perspective(600px) rotateY(0deg);
  }
  90% {
    transform: perspective(600px) rotateY(180deg);
  }
  100% {
    transform: perspective(600px) rotateY(0deg);
  }
}
@keyframes card-rotate-back {
  0% {
    transform: perspective(600px) rotateY(-180deg);
  }
  90% {
    transform: perspective(600px) rotateY(0deg);
  }
  100% {
    transform: perspective(600px) rotateY(-180deg);
  }
}
.main .container {
  padding: 400px 0;
  margin: 0 auto;
}

.main-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  position: relative;
  width: 170px;
  height: 240px;
  border-radius: 20px;
}
.card > .card-front {
  animation-name: none;
  transform: perspective(600px) rotateY(0deg);
}
.card > .card-back {
  animation-name: none;
  transform: perspective(600px) rotateY(-180deg);
  background-color: #FFF;
}
.card > .card-back.active > .card-front {
  animation-name: "card-rotate-front";
}
.card > .card-back.active > .card-back {
  animation-name: "card-rotate-back";
}
.card:hover > .card-front, .card.active > .card-front {
  animation-name: "card-rotate-front";
}
.card:hover > .card-back, .card.active > .card-back {
  animation-name: "card-rotate-back";
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  border-radius: 20px;
  transform: perspective(600px);
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: backwards;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.53);
}
.card-front img,
.card-back img {
  height: 100%;
}

h1 {
  display: none;
}

.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #565656;
  padding: 10px;
}

.left-corner, .right-corner {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.left-corner > p, .right-corner > p {
  padding-left: 0;
  padding-right: 0;
}

.left-corner {
  text-align: left;
}

.right-corner {
  transform: rotateX(180deg);
  text-align: right;
}

i {
  display: block;
  color: #9b3131;
  font-size: 18px;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
}

.center-text i {
  font-size: 56px;
}