$primaryTextColor:#565656;
$secondaryTextColor: #000000 ;
$subTextColor: #7B7B7B;
$accentTextColor: #9b3131;

$hoverTextColor: #007FFC;

$primaryBgColor: #FFF;
$secondaryBgColor: #F4F4F4;

$transitionFunc: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

$primaryFontFam: 'Lato', sans-serif;
