@import './variables.css';


* {
    transition: all .15s ease-in;
}
body {
    color: var(--main-color);
    background-color: #F7F7F7;;
    text-align: start;
    text-transform: capitalize;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: calc(18/13);
    letter-spacing: -0.1px;
}
.page_wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    width: 90%;
    max-width: calc(570px*2+30px);
    margin: 0 auto;
}
header .container{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.nav_item:not(:last-child) .nav_link::after {
    content: '/';
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    letter-spacing: 0.66px;
    margin-left: 10px;
}
.nav_link {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    letter-spacing: 0.66px;
    text-transform: uppercase;
    color: inherit;
}
.nav_link:hover, .nav_link:focus, .page_nav_link:hover,
.page_nav_link:focus  {
    font-weight: 700;
}
/* MAIN SECTION */

.main .container {
    padding: 55px 0;
}
.main_title {
    display: none;
    text-align: center;
}
.fieldset_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    @media screen and (min-width: 1170px) {
        flex-direction: row;
        }
}
.fieldset_item {
    background-color: var(--formset-bg-color);
    min-width: 570px;
    min-height: 590px;
    height: 100%;
    padding: 35px 35px 16px 35px;
    border-radius: 6px;
}

.form_title {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 500;
    line-height: calc(32/24);
    text-transform: none;
    margin-bottom: 20px;
}

.forms-box_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-style: none;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
.forms-box_list.profile{
    border-bottom: none;
}

.form-box_item {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
}

.form-label {
    font-size: 15px;
    line-height: calc(22/15);
    letter-spacing: -0.2px;
    color: var(--main-label-color);
}

.form-input {
    width: 100%;
    height: 38px;
    outline: transparent;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid var(--btn-border-color);
    border-radius: 5px;
}

.input-wrap .form-input {
    padding: 8px 20px;
}
.form-input:focus {
    border-color: var(--accent-color);
}

.form-input:focus+.input-icon {
    fill: var(--accent-color);
}

.input-wrap, 
.input[type='file'] {
position: relative;
}

.input-icon {
    position: absolute;
    left: 2px;
    top: 50%;
    fill: #545454;
    opacity: 0.8;
    transform: translateY(-50%);
}
.icon-camera{
    position: absolute;
    right: 8px;
    top: 50%;
    fill: #545454;
    opacity: 0.8;
    transform: translate(-50%, -50%);
}
.icon-tresh {
    position: absolute;
    right: -2px;
    top: 50%;
    fill: #545454;
    opacity: 0.8;
    transform: translate(-50%, -50%);
}

select, option{
    appearance: none;
    width: 100%;
    height: 100%;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #969696;
    top: 9px ;     
    right: 14px;
    position: absolute;
}
.select-wrapper::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #969696;
    bottom: 9px;
    right: 14px;
    position: absolute;
} 


select{
    display: block;
    color: #545454;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.2px;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 10px;
    height: 38px;
    border-radius: 5px;
}


.form-comment {
    width: 100%;
    text-align: center;
    color:var(--main-text-color);
    text-transform: none;
    transition: all var(--transition-func);

}
.form-comment span {
    color: var(--accent-color);
    font-family: Inter;
}
.form-comment.email {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
}
.form-comment a:hover {
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
label[for="user_email"], label[for="user_profile-email"] {
    text-transform: none;
}
.radio{
    display: flex;
    gap: 21px;
    width: auto;
}
.radio-btn.modal-field-check{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
}
.check-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.check-text span{
    width: 20px;
    height: 20px;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
    fill: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-right: 8px;
    transition: all var(--transition-func);

}

.input-check:checked +.check-text span{
    border: 6px solid var(--accent-color);
}
/* 
.input-check:focus >.check-text span{
    border-color: tomato;
} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.signup_btn {
    color: var(--formset-bg-color);
    background-color: var(--accent-color);
    text-align: center;
    text-transform: capitalize;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: calc(22/15);
    letter-spacing: -0.1px;
    border: 1px solid #E4E4E4;;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 2px;
    transition: background-color var(--transition-func), box-shadow var(--transition-func);
}
.signup_btn:hover,
.signup_btn:focus {
    background-color: var(--btn-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    gap: 10px;
    padding-top: 20px;
}

.btn_login-label, .btn_login {

    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: calc(22/15);
    letter-spacing: -0.2px;

}
.btn_login {
    color: var(--accent-color);
    text-transform: capitalize;  
    font-weight: 500;
    border-style: none;
    padding: 0 2px;
    transition: all var(--transition-func);
}
.btn_login:hover,
.btn_login:focus {
    color: var(--formset-bg-color);
    background-color: var(--btn-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.form-comment a:hover {
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.avatar_wrapper{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: flex-start;
}
.form_label-avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.form-label.additional{
    color: #969696;
    font-family: Roboto;
    font-size:0.8rem;
    text-transform: none;
    font-weight: 400;
    line-height: calc(18/13);
    letter-spacing: -0.1px;
    margin-top: 9px;
}
 input[type="file"] {
    height: 0;
    padding: 0;
    opacity: 0;
 }
 
 label[for="user_file"] {
    display: block;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    min-width: 138px;
    height: 30px;
    outline: transparent;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid var(--btn-border-color);
    border-radius: 5px;
 }

 label[for="user_file"]:hover, label[for="user_file"]:focus {
    border-color: var(--accent-color);
 }

  label[for="user_file"]:hover .icon-camera use,
  label[for="user_file"]:focus .icon-camera use{
      fill: var(--accent-color);
  }

.input_btn-del{
    position: relative;
    width: 30px;
    height: 30px;
    outline: transparent;
    font-size: 15px;
    border: 1px solid var(--btn-border-color);
    border-radius: 5px;
    margin-left: 10px;
    transition: all var(--transition-func);
}
.input_btn-del:focus, .input_btn-del:hover {
        background-color: var(--accent-color);
}
.input_btn-del:hover .icon-tresh use{
    fill: #fff;
}

.input-file_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-start;
}
.input-file_subwrapper {
    position: relative;
    width: 148px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
*::placeholder{
    opacity: 0.5;
}
.update_btn{
    width: 130px;
}