.header {
    background-color: rgba(211,211,211,0.2);
}

.main_title {
    font-weight: 600;
    font-size: 42px;
    line-height: calc(27/22);
    margin-bottom: 40px;
}
.main__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: start;
    align-items: center;
}
.main__item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24/14);
    color: #595959;
    list-style: none;
}

.main__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/14);
    text-transform: uppercase;
    color: #2196F3;

}

.main__link:hover,
.main__link:focus,
.main__link:active {
    font-weight: 900;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
fieldset{
    padding-top: 20px;
}
.form {
    display: flex;
    flex-direction: column;
}
.form-title {
    font-weight: 700;
    color: #212121;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121;
    margin-bottom: 20px;
}

.form-field {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 20px;
}

.form-label {
    width: 120px;
    color: #272727;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    margin-right: 20px;
}
.form-label.additional{
    width: 220px;
}

.form-input, textarea {
    width: 300px;
    height: 40px;
    outline: transparent;
    font-size: 14px;
    padding-left: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.form-input.age{
    width: auto;
}
textarea{
    height: auto;
}
.form-input:focus,
textarea:hover {
    border-color: #2196F3;
}

.check-text {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 30px;
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #303030;
    border-radius: 3px;
    margin-right: 7px;

    fill: transparent;
    display: flex;

}

.input-check:focus{
    border-color: #2196F3;
}
.gender-label {
    font-size: 12px;
    margin-right: 40px;
}
.button-field{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.submit-btn {
    width: 200px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

.btn {
    color: #FFF;
    background-color: #2196F3;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-style: none;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
    background-color:#188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
